<div class="[&>*]:p-3">
    <div class="flex-row-between items-start">
        <div class="flex flex-col">
            <div class="flex-row-between gap-x-2 text-xl font-bold">
                <P class=""> ABCU1029384 </P>
                <mat-icon>circle</mat-icon>
            </div>
            <p class="">Import/40H</p>
            <p class="text-blue-600">T18-1203-00309</p>
        </div>
        <div>
            <mat-chip class="!bg-green-200 border border-green-700">
                <span class="!tracking-wider !text-green-700">Available</span>
            </mat-chip>
            <!-- <mat-chip class="!bg-red-200 border border-red-700 ">
        <span class="!tracking-wider !text-red-700">Not Available</span>
      </mat-chip> -->
        </div>
    </div>

    <!-- Origin - Destination Attachments Code -->
    <div class="flex-row-start">
        <div class="flex-row-center">
            <div class="flex-row-center gap-x-4">
                <span
                    class="flex-row-center w-12 h-12 font-medium rounded-full text-green-700 bg-green-200 border border-green-700">NCT</span>
                <mat-icon class="w-9 h-9 font-bold">east</mat-icon>
                <span
                    class="flex-row-center w-12 h-12 font-medium rounded-full text-neutral-700 bg-neutral-200 border border-neutral-400">NS</span>
                <button matRipple
                    class="flex-row-center w-12 h-12 ml-8 rounded-full text-blue-600 bg-neutral-200 border border-neutral-400">
                    <mat-icon>attachment</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>